

<div class="jumbotron">
  <h1>Palindrome Checker</h1>
</div>
<div class="container">
  <form action="/" method="post">
    <label>Enter something and find out if it's a palindrome:</label>
    <input type="text" name="input">
    <br>
    <button type="submit" name="button" class="btn btn-default btn-lg">Let's Check!</button>
  </form>
  <h4>@Model</h4>
</div>
